.page {
	width: 1282px;
	margin: 0 auto;
	font-family: "Microsoft YaHei";
	background-color: #dedede;
	font-size: 12px;
}

/*h1.h2.h3*/
h1, h2, h3 {
	letter-spacing: 1px;
}

nav {
	width: 1281px;
	height: 60px;
	background-color: #333;
}

.logo {
	position: absolute;
	margin-top: 10px;
	margin-left: 40px;
	width: 120px;
	height: 38px;
}

nav ul {
	float: right;
	margin-top: 20px;
	margin-right: 13px;
}

nav li {
	float: left;
	width: 80px;
}

nav li a {
	color: #fff;
}

nav li a:hover {
	text-decoration: none;
	color: #8c9594;
}

article, aside {
	margin: 20px auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	width: 1198px;
	background-color: #fff;
	border: 1px solid #cbcbcb;
	-webkit-box-shadow:2px 2px 2px #848484;
    -moz-box-shadow:2px 2px 2px #848484;
	box-shadow:2px 2px 2px #848484;
}

h1 {
	margin-top: 39px;
	font-size: 21px;
}

h2 {
	margin-top: 16px;
	font-size: 17px;
	color: #5d5564;
}

header {
	/*margin-top: 39px;*/
}

header p {
	margin-top: 11px;
	color: #6e6463;
}

time {
	display: inline-block;
}

section p {
	margin: 21px auto;
	text-indent: 2em;
	font-size: 14px;
}

article img {
	height: 243px;
}

section dl {
	margin: 20px 21px; 
	font-size: 14px;
}

section dd {
	margin-bottom: 6px;
}

figure {
	margin: 16px 40px;
	width: 120px;
	height: 124px;
	border: 1px solid #cecece;
	text-align: center;
	line-height: 33px;
}

figure img {
	width: 100px;
	height: 80px;
}

section ol {
	margin: 21px 41px;
	font-size: 16px;
	font-weight: bold;
}

section ol li {
	margin-top: 5px;
}

table {
	width: 1198px;
	border: 1px solid #cecece;
	text-indent: 10px;
}

tr {
	height: 23px;
}

td {
	border: 1px solid #cecece;
}

thead {
	background: #333;
	color: #fff;
	text-align: left;
}

tfoot {
	font-weight: bold;
	background: #cccccc;
}

aside {
	width: 1177px;
	margin-left: 21px;
}

h3 {
	margin-top: 20px;
	margin-bottom: 21px;
	padding-left: 10px;
	height: 38px;
	border-left: 3px solid #cdcdcd;
	line-height: 38px;
	font-size: 15px;
}

form {
	position: relative;
}

form p {
	position: relative;
	margin-bottom: 12px;
}

form label {
	display: inline-block;
	width: 354px;
	text-align: right;
	letter-spacing: 1px;
}

form input, form select, form textarea {
	display: inline-block;
	margin-left: 14px;
	border: 1px solid #c9ced4;
}

form .note {
	margin-left: 368px;
	margin-bottom: 25px;
	color: #9a9aa4;
}

form input.right {
	margin-left: 9px;
}

.hobby input {
	vertical-align: sub;
}

form span {
	display: inline-block;
	margin-left: 2px;
	padding-top: 2px;
}

.btn {
	display: inline-block;
	width: 100%;
	height: 38px;
	background: #3355d0;
	border: 1px solid #9a9a9a;
	-moz-border-radius: 9px; /* Firefox */
  	-webkit-border-radius: 9px; /* Safari 和 Chrome */
    border-radius: 9px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
	color: #fff;
}

footer {
	height: 70px;
	background: #000;
	color: #fff;
	line-height: 70px;
	text-align: center;
}

